<h1>Cocktails</h1>


<div class="cocktail-card-container">
  <% @cocktails.each do |cocktail| %>
    <div class="cocktail-card">
      <h2><%= link_to cocktail.name, "/#{cocktail.id}" %></h2>
      <%= link_to '', "/#{cocktail.id}", class: "fas fa-trash", method: :delete %>

      <div class="ingredients">
        <% cocktail.ingredients.each do |ingredient| %>

          <p><%= ingredient.name %></p>

        <% end %>
      </div>
    </div>


  <% end %>

</div>
