// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cocktail-card-container {
  display: flex;

}

.cocktail-card {
  border: solid 1px grey;
  padding: 8px;
  border-radius: 16px;

}

.ingredients {

}
